@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

*, body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding: 0px;
    margin: 0px;
}

html, body {
    height: 100%;
    background-color: #577590;
}

/* HEADER COMPLETE RONISHA */

/* NAV BAR COMPLETE ALEX */

/* SECTIONS FOR TASK MANAGER AND TO DO COMPLETE ESTEPHANIE */

/* SECTION 1 */

section .sectionone {
    width: 60rem;
    height:55rem;
}

/* TASK SUBMISSION FORM */
.submittask {
    width: 40%;
    height: 40%;
    border: 2px solid white;
    border-radius: 5px;
    padding: 15px;
    background-color: #89b0ae;
}

.duedate {
    width: 30%;
    padding: 9px 10px;
    text-align: center;
    border: 0;
    outline: 0;
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    margin-top: 16px;
    margin-bottom: 16px;
}

.date {
    width: 68.5%;
    padding: 9px 10px;
    text-align: center;
    border: 0;
    outline: 0;
    border-radius: 6px;
    background-color: #ffd6ba;
    font-size: 15px;
    font-weight: 300;
    color: #ffffff;
    margin-top: 16px;
}

.btn {
    background-color: #faf9f9;
    color: #8D8D8D;
}

.form-control{
    width: 100%;
    padding: 9px 10px;
    text-align: left;
    border: 0;
    outline: 0;
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    margin-top: 16px;
}

.todo{
    text-align: center;
    margin: 1% 33%;
    color: white;
}

/* TASK MANAGER SECTION ESTEPHANIE */

.taskmanager{
    text-align: center;
    margin: 1% auto;
    color: white;
    display: inline-flex;
    align-items: center;
}

section h1 {
    text-align: center;
}